
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* -------- ESTILOS DEL MENU PARA LAS PAGINAS ----------- */
nav{

    width: 100%;
    height: 150px;
    padding: 10px 100px;
    box-sizing: border-box;
    background: rgba(242, 239, 239, 0.6);
    border-bottom: 5px solid white;
  
}
nav .logo{
    height: 130px;
    float: left;
}

nav ul{
    list-style: none;
    width: 0;
    padding-top: 60px;
    padding-left: 70px;
    display: flex;
 

}
nav ul li a{
    
    line-height: 70px;
    color: white;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}
/* -------- FIN ESTILOS DEL MENU PARA LAS PAGINAS ----------- */

body{ 
    
    background-image: url(../Imag/fondo_arveo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flexbox;
    
}
.img_Index{
   
    background-image: url(../Imag/img_inicio.png);
    height: 500px;
    background-size: cover;
    display: flex;
    
}
h1{
    color: white;
    width: 300px;
    margin-top: 40px;
    margin-left: 800px;
    margin-bottom: 30px;
    
}

.descripcion, .video{
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.contenido,
.contenedor_video{
    
    background: rgba(210, 205, 205, 0.7);
    border-radius: 10px;    
    width: 500px;
    height: 200px;  
    padding-top: 50px; 
}

h3{
    text-decoration: underline;
    padding-bottom: 15px;
    
}


.contenido, 
.contenedor_video, 
.contenido_conocenos, 
.contenido_producto{
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

.contenido_conocenos{
    color:white;
    margin-bottom: 40px;
    padding: 20px;
}
.contenido_producto{
    width: 500px;
    height: 550px;    
}

.contenido_producto{
    background: rgba(210, 205, 205, 0.7);
    border-radius: 10px;
    margin-bottom: 60px;
    padding-top: 20px;    
}

.text_producto{
    padding: 10px;
    height: 150px;
}


/* estilos de formulario contactos */
.contacto{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

.contacto-wrapper{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .9);   
}

.contacto-wrapper > *{
    padding: 1em;
}

.contacto_form{
    background: #222222;
    color: white;
}
.contacto_form form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   
} 

.contacto_form form .block{
    grid-column: 1/3;
}

.contacto_form form p{
    margin: 20px;
    padding: 10px;
}
.contacto_form form button,
.contacto_form form input,
.contacto_form form textarea
{
    width: 100%;
    padding: 5px;
    border: none;
    background: none;
    outline: 0;
    color: white;
    border-bottom: 1px solid #d63031;
    
}
.contacto_form form button{
    height: 30px;
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 10px;
}


/* fin estilos de formulario */

/* INICIA LOS ESTILOS PARA EL PIE DE PAGINA */
footer{
    
    background-color: #FFF;
    background: rgba(242, 239, 239, 0.6);
    border-bottom: 5px solid #fff;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10PX;

}






